/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
* {
  box-sizing: border-box;
}

.app {
  background-color: white;
  display: flex;
  flex-flow: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 100svh;
}

.app-header,
.app-main,
.app-navigation {
  padding: 0 1rem;
}

.app-header {
  background-color: #f39e32;
  color: #000000;
  flex: 0 0 auto;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-header-title {
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  margin: 0.5rem 0;
}

.app-header-title span:nth-child(1) {
  color: #e55655;
}
.app-header-title span:nth-child(2) {
  color: #33798e;
}

.app-main {
  flex: 1 0 40vh;
  background-color: #fff;
  position: relative;
}

.app-controls {
  flex: 0 0 150px;
  display: flex;
  /* margin: 0 .5rem .5rem; */
  flex-direction: column;
  font-size: 100%;
  align-items: flex-start;
  justify-content: space-around;
}

.app-loader {
  bottom: 0;
  height: 50px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}

@keyframes app-loader {
  0% {
    transform: scaleX(-1) translateX(50%);
  }
  50% {
    transform: scaleX(-1) translateX(-50%);
  }
  50.0001% {
    transform: scaleX(1) translateX(50%);
  }
  100% {
    transform: scaleX(1) translateX(-50%);
  }
}

.app-loader:after {
  animation: app-loader 5s ease-in-out infinite;
  content: "🚗";
  font-size: 60px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  width: 80vw;
}

/* /!\ You need to add vendor prefixes in order to render the CSS properly (or simply use http://leaverou.github.io/prefixfree/) /!\ */
.app-main-viewer {
  perspective: 800px;
  position: absolute;
  background: #fff;
  overflow: hidden;
  height: 100%;
  width: 100%;
  left: 0px;
  /* background: transparent; */
  background-image: linear-gradient(#edfbff 50%, #424446 50.5%);
  background-image: linear-gradient(#c3d4dd, #fff);
}

.app-main-viewer:before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  content: "";
  transform: perspective(1000px) rotateX(90deg) scale(3) translateY(50px);
  transform-origin: center center 75px;
  background: radial-gradient(
    closest-side,
    #ffffff94 200px,
    #bdc5ca 205px,
    #ffffff00 0px
  );
  filter: blur(2px);
}

.app-main-viewer:after {
  background: radial-gradient(closest-side, #b9c6cc 30px, transparent 40px);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  content: "";
  transform: perspective(1000px) rotateX(90deg) scale(3) translateY(0px);
  z-index: -3;
  transform-origin: center center 75px;
}

.face {
  box-shadow: inset 0 5px 42px -1px rgba(32, 50, 58, 0.15);
  border: 1px solid #383838;
}
.scene,
.shape,
.face,
.face-wrapper,
.cr {
  position: absolute;
  transform-style: preserve-3d;
}
.scene {
  width: 60em;
  height: 60em;
  top: 50%;
  left: 50%;
  margin: -30em 0 0 -30em;
}
.shape {
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform-origin: 50%;
}
.face,
.face-wrapper {
  overflow: hidden;
  transform-origin: 0 0;
  backface-visibility: hidden;
  /* hidden by default, prevent blinking and other weird rendering glitchs */
}
.face {
  background-size: 100% 100% !important;
  background-position: center;
}
.face-wrapper .face {
  left: 100%;
  width: 100%;
  height: 100%;
}
.side {
  left: 50%;
}
.cr,
.cr .side {
  height: 100%;
}
[class*="cuboid"] .ft,
[class*="cuboid"] .bk {
  width: 100%;
  height: 100%;
}
[class*="cuboid"] .bk {
  left: 100%;
}
[class*="cuboid"] .rt {
  transform: rotateY(-90deg) translateX(-50%);
}
[class*="cuboid"] .lt {
  transform: rotateY(90deg) translateX(-50%);
}
[class*="cuboid"] .tp {
  transform: rotateX(90deg) translateY(-50%);
}
[class*="cuboid"] .bm {
  transform: rotateX(-90deg) translateY(-50%);
}
[class*="cuboid"] .lt {
  left: 100%;
}
[class*="cuboid"] .bm {
  top: 100%;
}
[class*="cylinder"] .tp {
  transform: rotateX(90deg) translateY(-52.5%) scale3d(1.1, 1.1, 1);
  transform-origin: 50% 0;
}
[class*="cylinder"] .bm {
  transform: rotateX(-90deg) translateY(-52.5%) scale3d(1.1, 1.1, 1);
  transform-origin: 50% 0;
}
[class*="cylinder"] .tp,
[class*="cylinder"] .bm,
[class*="cylinder"] .tp .photon-shader,
[class*="cylinder"] .bm .photon-shader {
  border-radius: 50%;
}
[class*="cylinder"] .bm {
  top: 100%;
}

.app-car-body {
  transform: translate3D(0em, 1.2em, 0em) rotateX(0deg) rotateY(0deg)
    rotateZ(0deg) skewX(20deg);
  opacity: 1;
  width: 11em;
  height: 3.5em;
  margin: -1.75em 0 0 -5.5em;
}
.app-car-body .ft {
  transform: translateZ(2.75em);
}
.app-car-body .bk {
  transform: translateZ(-2.75em) rotateY(180deg);
}
.app-car-body .rt,
.app-car-body .lt {
  width: 5.5em;
  height: 3.5em;
}
.app-car-body .tp,
.app-car-body .bm {
  width: 11em;
  height: 5.5em;
}
.app-car-body .face {
  background-color: currentColor;
}

.cylinder-1 {
  transform: translate3D(-3em, 2.5em, 2.5em) rotateX(-180deg) rotateY(270deg)
    rotateZ(90deg);
}
.cylinder-2 {
  transform: translate3D(4em, 2.5em, 2.5em) rotateX(-180deg) rotateY(270deg)
    rotateZ(90deg);
}
.cylinder-3 {
  transform: translate3D(4em, 2.5em, -2.5em) rotateX(-180deg) rotateY(270deg)
    rotateZ(90deg);
}
.cylinder-4 {
  transform: translate3D(-3em, 2.5em, -2.5em) rotateX(-180deg) rotateY(270deg)
    rotateZ(90deg);
}
.app-car-wheel {
  opacity: 1;
  width: 2em;
  height: 1em;
  margin: -0.5em 0 0 -1em;
}
.app-car-wheel .tp,
.app-car-wheel .bm {
  width: 2em;
  height: 2em;
  background-color: currentColor;
  background-image: radial-gradient(transparent 40%, #4a4a4a 40.25%);
}
.app-car-wheel .side {
  width: 0.8534271247461901em;
  height: 1em;
  background: #4a4a4a;
  box-shadow: inset 0 0 11px 1px #383838;
}
.app-car-wheel .s0 {
  transform: rotateY(22.5deg) translate3D(-50%, 0, 0.975em);
}
.app-car-wheel .s1 {
  transform: rotateY(67.5deg) translate3D(-50%, 0, 0.975em);
}
.app-car-wheel .s2 {
  transform: rotateY(112.5deg) translate3D(-50%, 0, 0.975em);
}
.app-car-wheel .s3 {
  transform: rotateY(157.5deg) translate3D(-50%, 0, 0.975em);
}
.app-car-wheel .s4 {
  transform: rotateY(202.5deg) translate3D(-50%, 0, 0.975em);
}
.app-car-wheel .s5 {
  transform: rotateY(247.5deg) translate3D(-50%, 0, 0.975em);
}
.app-car-wheel .s6 {
  transform: rotateY(292.5deg) translate3D(-50%, 0, 0.975em);
}
.app-car-wheel .s7 {
  transform: rotateY(337.5deg) translate3D(-50%, 0, 0.975em);
}

.app-car-cabine {
  height: 4em;
  margin: -2.5em 0 0 -2.75em;
  opacity: 1;
  transform: translate3D(0.5em, 0em, 0em) rotateX(0deg) rotateY(0deg)
    rotateZ(0deg) skewX(17.4deg);
  transform-origin: 0 100%;
  width: 5.5em;
}
.app-car-cabine .ft {
  transform: translateZ(2.25em);
}
.app-car-cabine .bk {
  transform: translateZ(-2em) rotateY(180deg);
}
.app-car-cabine .rt,
.app-car-cabine .lt {
  height: 5em;
  width: 4.5em;
}
.app-car-cabine .tp,
.app-car-cabine .bm {
  height: 4.5em;
  width: 5.5em;
}
.app-car-cabine .face {
  background-color: currentColor;
  background-image: linear-gradient(
    296deg,
    transparent 0%,
    #ffffff7a 43%,
    #ffffff6e 47%,
    #ffffff00 52%
  );
  box-shadow: inset 0 4px 0px 0px rgba(255, 255, 255, 0.77);
}

.app-car,
.app-car-wheels {
  height: 100%;
  transform-style: preserve-3d;
}

.app-controls-set {
  background: #e8eff214;
  flex: 1 0 100%;
  margin-top: 0;
  padding: 0.5rem 1rem;
  position: relative;
}

.app-controls-set-title {
  color: #521120;
  display: none;
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
}

.app-control-label {
  display: block;
}

.app-control {
  display: flex;
  padding: 0.25em 0;
  justify-content: space-between;
}

.app-controls-container {
  flex: 0 0 auto;
  display: flex;
  width: 100%;
  overflow: hidden;
  align-items: stretch;
  align-items: flex-end;
  background: #75514f2e;
  color: #000000a1;
  box-shadow: inset 0 5px 6px -6px #fefeff;
  background-image: linear-gradient(white 0%, #2d80b300);
}

.app-controls-pagination {
  display: flex;
  padding: 0;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  width: 100%;
  /* flex: 0 0; */
}

.app-controls-pagination-link {
  text-decoration: none;
  /* font-weight: bold; */
  font-size: 100;
  color: #32788e;
  color: #e45655;
  padding: 0.5rem;
  display: inline-block;
}

.app-control-anchor:active {
  color: yellowgreen;
}

.app-control-anchor {
  text-align: right;
  float: right;
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  left: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  flex: 1 0;
}

.app-save {
  text-shadow: 2px 2px 4px #0000002e;
  transition: opacity 500ms ease-in;
}

.app-save:hover,
.app-save:active {
  text-shadow: 1px 1px 2px #00000054;
  transform: translateY(2px);
}

.app-save.app-save--saved {
  opacity: 0;
  transform: translateY(30px);
  transition: all 500ms ease-in-out;
}

@media screen and (orientation: landscape) {
  .app-header {
    /* display: none; */
  }

  .app-container {
    /* flex-direction: row; */
  }
  .app-controls {
    justify-content: space-between;
    width: auto;
    flex: 0 0 auto;
  }
  .app-controls-container {
    align-items: flex-start;
    flex: 0 0 auto;
  }
  .app-controls-set {
    transform: none;
    display: flex;
    flex-direction: row;
    background: none;
    padding: 0 0.5rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* margin: 6px 0px; */
    align-items: stretch;
  }
  .app-control {
    flex-direction: row;
    flex: 0 1 140px;
    justify-content: flex-start;
    /* border: 1px solid red; */
    padding: 0.5rem;
  }

  .app-control-input {
    width: 75px;
    margin-left: 1rem;
  }

  .app-controls-set-title {
    flex: 1 1 100%;
    display: none;
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
